{% extends "base.html" %}

{% block title %}Home - FableForge{% endblock %}

{% block content %}

    {% if articles %}

        <table border="0" cellpadding="6" cellspacing="0">

            <tbody>
                {% for article in articles %}
                    <tr style="text-decoration: none; color: #034e9e">
                        <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                        <td>{{ article.date }}</td>
                        {% if request.cookies.get("username") == "admin" %}
                            <td><a href="/admin/edit/{{ article.id }}">Edit</a></td>
                            <td><a href="/admin/delete/{{ article.id }}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nessun articolo disponibile.</p>
    {% endif %}
{% endblock %}