{% extends "base.html" %}

{% block title %}Home - FableForge{% endblock %}

{% block content %}

    {% if articles %}

        <table border="0" cellpadding="6" cellspacing="0">

            <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                        <td>{{ article.date }}</td>
                        {% if request.cookies.get("username") == "admin" %}
                            <td><a href="/admin/edit/{{ article.id }}">Edit</a></td>
                            <td>
                                <form action="/admin/delete/{{ article.id }}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this article?');">
                                    <button type="submit" class="btn-link-red">Delete</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles available.</p>
    {% endif %}
{% endblock %}